$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #27440e;
$background-color: #4f9cd3;
$background-alternative-color: #e0fbfc;
$margin-left-logo: auto;
$max-width-container: 1200px;
$margin-padding-footer: auto;
$padding-top-bottom-footer: 10px;
$header-background: #3fc8f4;
$footer-background: #0485e1;
$bord-color: #000;
$img-bord-color: rgb(65 195 81);
$main-borde-color: rgb(36, 36, 163);


